<table>
  <td>
    <div id="aktion2">      
      <h1 class="aktion1">Account bearbeiten</h1>
      <table>
        <td>
					<%= render 'form' %>
				</td>
			</table>     
    </div>
  </td>
</table>
