<table>
  <td>
    <div id="aktion2">
      <h1 class="aktion1">Allgemeine Geschäftsbedingungen (AGB)</h1>
      <table>
        <td>
					<br />
					<p>
						1. Geltungsbereich<br />
						Für alle Verträge von FIT1AF GmbH (nachfolgend "FIT1AF" genannt) mit Verbrauchern (§ 13 BGB), die über unseren Online-Shop erfolgen, gelten diese Allgemeinen Geschäftsbedingungen (AGB). Die Geltung abweichender Geschäftsbedingungen des Kunden ist, selbst im Falle der Leistung, ausgeschlossen, auch wenn FIT1AF ihnen nicht ausdrücklich widerspricht. Verbraucher ist jede natürliche Person, die ein Rechtsgeschäft zu einem Zwecke abschließt, der weder ihrer gewerblichen noch ihrer selbstständigen beruflichen Tätigkeit zugerechnet werden kann.<br /><br />

						2. Vertragspartner, Kundendienst<br />
						Der Kaufvertrag kommt zustande mit FIT1AF. Weitere Informationen zu uns finden Sie im Impressum. Sie erreichen unseren Kundendienst für Fragen, Reklamationen und Beanstandungen Mo-Fr 8:00-19:00 und Sa 9:00-16:00 unter der Telefonnummer 040 - 428 855 750.<br /><br />

						3. Vertragsabschluss<br />
						3.1. Die Darstellung der Produkte im Online-Shop stellt kein rechtlich bindendes Angebot, sondern einen unverbindlichen Online-Katalog dar. Durch Anklicken des Bestellbuttons geben Sie eine verbindliche Bestellung der im Warenkorb enthaltenen Waren ab. Die Bestätigung der Bestellung erfolgt unmittelbar nach dem Absenden der Bestellung.
						Der Vertrag kommt zustande, wenn FIT1AF und ggf. ein Drittanbieter (z.B. der Netzbetreiber bei Mobilfunk- oder Datentarifverträgen) das Angebot annehmen. Wir können Ihre Bestellung durch Versand einer Auftragsbestätigung per E-Mail oder durch Auslieferung der Ware innerhalb von fünf Tagen annehmen.<br />
						3.2. Ist Bestandteil des Vertrages auch die Vermittlung eines Mobilfunk- oder Datentarifvertrages, so kommt der Mobilfunk- oder Datentarifvertrag unmittelbar mit dem Mobilfunkbetreiber zu den von diesem zum Zeitpunkt des Vertragsschlusses verwendeten AGB zustande. FIT1AF handelt im Rahmen des Vertragsabschlusses als Vermittler des Mobilfunkbetreibers. Ein Widerruf ist gegenüber FIT1AF zu erklären. Die wechselseitigen Rechte und Pflichten aus dem Vertrag mit FIT1AF hängen von dem Bestehen des Mobilfunk- oder Datentarifvertrages während der Laufzeit des Vertrages mit FIT1AF ab.<br />
						3.3. Alle Angebote von FIT1AF sowie die hierzu gehörigen Unterlagen sind unverbindlich und freibleibend. Aussehen, technische Angaben und Beschreibungen des Kaufgegenstandes auf den Internetseiten oder in sonstigen Werbematerialien stellen keine Zusicherung von Eigenschaften dar.<br /><br />

						4. Versandkosten<br />
						Zuzüglich zu den angegebenen Produktpreisen kommen noch Versandkosten hinzu. Näheres zur Höhe der Versandkosten erfahren Sie bei den Angeboten. 
					</p>
        </td>
      </table>      
    </div>
  </td>
</table>

