<table>
  <td>
    <div id="aktion2">      
      <h1 class="aktion1">Kontakt</h1>
      <table>
        <td>
          <br />
          <p>
            FIT1AF GmbH
            <br />
            <br />
            <br />
            Tel: 040 - 428 855 750
            <br />
            <br />
            E-Mail: <%= mail_to "g16@hibb.hamburg.de", "g16@hibb.hamburg.de", subject: "Anfrage", title: "Email senden" %>
            <br />
            <br />
            Hermelinweg 8
            <br />
            22159 Hamburg
            <br />
          </p>
          </td>
        </table>      
    </div>
  </td>
</table>


