<table>
  <td>
    <div id="aktion2">      
      <h1 class="aktion1">Impressum</h1>
      <table>
        <td>
          <br />
          <p>
            FIT1AF GmbH
            <br />
            Hermelinweg 8
            <br />
            D-22159 Hamburg
            <br />
            <br />
            Tel: 040 - 428 855 750
            <br />
            E-Mail: g16@hibb.hamburg.de
            <br />
            <br />
            Geschäftsführer:
            <br />
            gncrlr
            <br />
            <br />
            Sitz und Registergericht:
            <br />
            FIT1AF GmbH
            <br />
            HRB 1234 Amtsgericht Hamburg
            <br />
            <br />
            Zuständige Aufsichtsbehörden sind die Regulierungsbehörde für Telekommunikation und Post, sowie der Bundesbeauftragte für Datenschutz.
            <br />
            <br />
            USt-IDNr.: DE 123456789
            <br />
            <br />
            Verantwortlich im Sinne des Presserechts:
            <br />
            gncrlr, Hermelinweg 8, 22159 Hamburg
            <br />
            <br />
            Haftungsausschluss:
            <br />
            Die FIT1AF GmbH prüft und aktualisiert die Informationen auf ihren Webseiten ständig. Trotz aller Sorgfalt kann eine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten Informationen nicht übernommen werden. Gleiches gilt auch für alle anderen Websites, auf die mittels Hyperlink verwiesen wird. Die FIT1AF GmbH ist für den Inhalt der Websites, die aufgrund einer solchen Verbindung erreicht werden, nicht verantwortlich. Des Weiteren behält sich die FIT1AF GmbH das Recht vor, Änderungen oder Ergänzungen der bereitgestellten Informationen vorzunehmen. In keinem Fall können FIT1AF und/oder deren Lieferanten haftbar gemacht werden für besondere oder indirekte Schäden, Folgeschäden oder sonstige Schäden, die aus Nutzungsausfall, Verlust von Daten oder entgangenem Gewinn resultieren - Sei es bei vertragsgemäßer Nutzung oder durch Nachlässigkeit oder sonstige unerlaubte Handlung - und durch die oder im Zusammenhang mit der Verwendung von auf diesem Server verfügbaren Softwaredokumenten oder Informationen entstanden sind. Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. 
          </p>
        </td>
      </table>      
    </div>
  </td>
</table>


