<table>
  <td>
    <div id="aktion2">      
      <h1 class="aktion1">Stellenangebote</h1>
      <table>
        <td>
        	<br />
          <p>
            Zur Zeit keine Stellenangebote verfügbar.
          </p>
          <br />
          <br />
        </td>
      </table>      
    </div>
  </td>
</table>


